
.DS_Store
jupyter/.DS_Store
jupyter/jupyterNotebooks/.DS_Store
jupyter/jupyterNotebooks/.ipynb_checkpoints/01ConsoleIOandVariables-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/03Collections-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/04ControlAndRepetitionStatements-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/05Functions-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/06ModulesExceptionsAndOOP-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/_P2_01Course_Introduction-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P1_01IntroToCourse-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P1_02Programming-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P2_01Course_Introduction-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P2_01NumPy_Pandas-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P2_01Titanic_EDA-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P3_01Titanic_EDA-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P3_02BreastCancer_Preprocessing-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P3_03BreastCancer_Unsupervised-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P3_04BreastCancer_Preprocessing-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P3_04BreastCancer_Supervised-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P3_05BreastCancer_Unsupervised-checkpoint.ipynb
jupyter/jupyterNotebooks/images/.ipynb_checkpoints/bettingMarket-checkpoint.png
jupyter/jupyterNotebooks/images/.ipynb_checkpoints/box_plot_ref_needed-checkpoint.png
jupyter/jupyterNotebooks/images/.ipynb_checkpoints/fna-benign1-checkpoint.png
jupyter/jupyterNotebooks/images/.ipynb_checkpoints/P1-checkpoint.pdf
jupyter/jupyterNotebooks/images/Boris Johnson reminds Merkel to mute during G7 Zoom chat _ ITV News (1080p_25fps_H264-128kbit_AAC).mp4
jupyter/jupyterNotebooks/.ipynb_checkpoints/P1_Programming-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P2_NumPy_Pandas-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/P1_Programming_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/P2_01NumPy_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/P2_02PCA_TSNE_KMeans_Images_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P1_Programming-checkpoint.ipynb
