
.DS_Store
jupyter/.DS_Store
jupyter/jupyterNotebooks/.DS_Store
jupyter/jupyterNotebooks/.ipynb_checkpoints/01ConsoleIOandVariables-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/03Collections-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/04ControlAndRepetitionStatements-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/05Functions-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/06ModulesExceptionsAndOOP-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/_P2_01Course_Introduction-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P1_01IntroToCourse-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P1_02Programming-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P2_01Course_Introduction-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P2_01NumPy_Pandas-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P2_01Titanic_EDA-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P3_01Titanic_EDA-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P3_02BreastCancer_Preprocessing-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P3_03BreastCancer_Unsupervised-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P3_04BreastCancer_Preprocessing-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P3_04BreastCancer_Supervised-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P3_05BreastCancer_Unsupervised-checkpoint.ipynb
jupyter/jupyterNotebooks/images/.ipynb_checkpoints/bettingMarket-checkpoint.png
jupyter/jupyterNotebooks/images/.ipynb_checkpoints/box_plot_ref_needed-checkpoint.png
jupyter/jupyterNotebooks/images/.ipynb_checkpoints/fna-benign1-checkpoint.png
jupyter/jupyterNotebooks/images/.ipynb_checkpoints/P1-checkpoint.pdf
jupyter/jupyterNotebooks/images/Boris Johnson reminds Merkel to mute during G7 Zoom chat _ ITV News (1080p_25fps_H264-128kbit_AAC).mp4
jupyter/jupyterNotebooks/.ipynb_checkpoints/P1_Programming-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P2_NumPy_Pandas-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/P1_Programming_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/P2_01NumPy_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/P2_02PCA_TSNE_KMeans_Images_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P1_Programming-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments___/.ipynb_checkpoints/01ConsoleIOandVariables_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments___/.ipynb_checkpoints/02DataTypesAndOperations_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments___/.ipynb_checkpoints/02DataTypesAndOperations_Live-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments___/.ipynb_checkpoints/03Collections_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments___/.ipynb_checkpoints/04ControlAndRepetitionStatements_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments___/.ipynb_checkpoints/05Functions_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments___/.ipynb_checkpoints/05Functions_TheCaPythone_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments___/.ipynb_checkpoints/06ModulesExceptionsAndOOP_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments___/.ipynb_checkpoints/auto_testing-checkpoint.py
jupyter/jupyterNotebooks/assignments___/.ipynb_checkpoints/M2_01NumPy_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments___/.ipynb_checkpoints/M2_05PCA_TSNE_KMeans_Images_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments___/01ConsoleIOandVariables_Assignments.ipynb
jupyter/jupyterNotebooks/assignments___/02DataTypesAndOperations_Assignments.ipynb
jupyter/jupyterNotebooks/assignments___/02DataTypesAndOperations_Live.ipynb
jupyter/jupyterNotebooks/assignments___/03Collections_Assignments.ipynb
jupyter/jupyterNotebooks/assignments___/04ControlAndRepetitionStatements_Assignments.ipynb
jupyter/jupyterNotebooks/assignments___/05Functions_Assignments.ipynb
jupyter/jupyterNotebooks/assignments___/05Functions_TheCaPythone_Assignments.ipynb
jupyter/jupyterNotebooks/assignments___/06ModulesExceptionsAndOOP_Assignments.ipynb
jupyter/jupyterNotebooks/assignments___/__pycache__/auto_testing.cpython-39.pyc
jupyter/jupyterNotebooks/assignments___/auto_testing.py
jupyter/jupyterNotebooks/assignments___/dpc-covid19-ita-andamento-nazionale.csv
jupyter/jupyterNotebooks/assignments___/factorial.py
jupyter/jupyterNotebooks/assignments___/factorial_exc.py
jupyter/jupyterNotebooks/assignments___/file.txt
jupyter/jupyterNotebooks/assignments___/M2_01NumPy_Assignments.ipynb
jupyter/jupyterNotebooks/assignments___/M2_05PCA_TSNE_KMeans_Images_Assignments.ipynb
jupyter/jupyterNotebooks/assignments___/manzoni_1.txt
jupyter/jupyterNotebooks/assignments___/MyRestaurant_AD_Reviews.txt
jupyter/jupyterNotebooks/assignments___/negative-words.txt
jupyter/jupyterNotebooks/assignments___/positive-words.txt
jupyter/jupyterNotebooks/assignments___/stopwords_italian.txt
